.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.streamlit/
.DS_Store
*.bak
uv.lock.bak
pyproject_develop.toml
uv_develop.lock
*.csv
.ipynb_checkpoints
*rees
*testing.ipynb
*tree.py
tfplan
*.tfvars
*.tfvars.json
*.tfstate
*.tfstate.backup
.terraform/
