.venv
*.csv
.ipynb_checkpoints
*rees
*testing.ipynb
*tree.py
.env
*.pyc

tfplan
*.tfvars
*.tfvars.json
*.tfstate
*.tfstate.backup
.terraform

data/clean/horses_listings_limpio.parquet
data/clean/horses_sessions_info.parquet
data/clean/prods_sessions_info.parquet
data/clean/products_listing_limpio.parquet
data/clean/users_info.parquet

data/raw/doversaddlery_products_listing.parquet
data/raw/equinenow_horses_listings.parquet
data/raw/horsedeals_horses_listings.parquet

.dvc/cache/
.dvc/tmp/
.dvc/config.local