.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.streamlit/
.DS_Store
*.bak
uv.lock.bak
pyproject_develop.toml
uv_develop.lock
*.csv
.ipynb_checkpoints
*rees
*test.ipynb
*tree.py
tfplan
*.tfvars.json
*.tfstate
*.tfstate.backup
.terraform/
.terraform

data/clean/horses_listings_limpio.parquet
data/clean/horses_sessions_info.parquet
data/clean/prods_sessions_info.parquet
data/clean/products_listing_limpio.parquet
data/clean/users_info.parquet

data/raw/doversaddlery_products_listing.parquet
data/raw/equinenow_horses_listings.parquet

.dvc/cache/
.dvc/tmp/
.dvc/config.local

models/
